@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:"Inter", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.paddingSection {
    padding: 40px 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


.ligne {
    display: inline-block;
}


.spaceBetween {
    justify-content: space-between;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.centerHorizon {
    justify-content: center;
}


.alignCenter {
    align-items: center;
}


.marginAuto {
    margin: auto;
}


.bold {
    font-weight: 600;
}


.bgYellow {
    background-color: #F3C827;
}


.container {
    /*background-color: red;*/
    max-width: 1000px;
    width: 100%;
    margin: auto;
}


.btn {
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}


h3 {
    width: 100%;
    color: #593E26;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font: 16px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}


.engagement {
    height: 50vh;
}


.width30 {
    width: 30%;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.paddingB40 {
    padding-bottom: 40px;
}



/* HEADER*/


header {
    /*background-color: aquamarine;*/
    padding: 15px 15px;
}

.navHeader {
    /*background-color: blueviolet;*/
    width: 50%;
}

.panier {
    color: #F3C827;
    font-size: 25px;
}

/* HERO */

.hero {
    height: 100vh;
}

.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}



/* Section Engagement */


.pinline {
    width: 45%;
}



/* Section Bienfaits du miel */



/* Section Produits */


.width250px {
    width: 267px;
}

.panierButton {
    font-size: 18px;
    color: white;
}

.paddingCarte {
    padding: 10px 9px 20px 9px;
}

.radiusCarte {
    border-radius: 4px;
}


/* Section Nos clients */


.width279 {
    width: 279px;
}

.paddingT20 {
    padding-top: 20px;
}

.policenom {
    font-size: 20px;
    font-weight: 800;
}

.policereview {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}


/* Section Nous trouver */

.policent {
    font-size: 24px;
    font-weight: 600;
}

.paddingent {
    padding: 20px 0px 13px 0px;
}

.policeadress {
    font-size: 16px;
    font-weight: 500;
}

